<% if notice %>
    <aside id="notice"><% notice %></aside>
<% end %>

<h1> Donny's Catalog </h1>

<ul class="catalog">
    <%  @products.each do |product| %>
        <li>
            <% image_tag(product.image_url) %>
            <h2> <% product.title %> </h2>
            <p>
            <%sanitize(product.description)  %>  
            <%# sanitize removes html elements from text. necessary if decide to put the elements right in
             the text instead of here %>
            </p>
            <div class="price">
                <% product.price %>
            </div>
        </li>
    <% end %>
</ul>